.presentation {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2em;
    padding-top: 3em;
    padding: 1em;
}

.textContainer {
  width: 100%;
  height:fit-content;
  display: flex;
  flex-wrap: wrap;
}

.textContainer > h1 {
  width: 100%;
  font-size: clamp(2em, 4.3vw, 6em); 
  color: #fff;
  font-weight: bolder;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.textContainer > h2 {
  width: 100%;
  font-size: clamp(1.5em, 4vw, 5.5em); 
  color: #fff;
  font-weight: bolder;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  letter-spacing: 2px;
}

.textContainer > p {
  font-size: clamp(.8em, 1.5vw, 1.8rem); 
  margin-top: 2em;
  width: 100%;
  color: #fff;
  font-weight: bolder;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}