@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 550ms;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding: 1em 0em 0em .5em;
    z-index: 10;
}

.left {
    margin:0;
    background: none;
    border: none
}

.icon {
    font-size: clamp(5em, 8vw, 7em); 
    color: #83bde4;
    cursor: var(--onScreenPress);
    transition: 1s;
}

.left:hover .icon {
    color: #cf1020;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(180deg) rotateY(180deg) rotateZ(180deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

.options {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    height: 100vh;
    width: 60%;
    background-color: #ffff;
    padding: .5em;
    transform: translateX(-250px);
    transition: 1s;
}

.left:hover .options {
    transform: translateX(0);
    box-shadow: 0, 0, 0, rgba(0, 0, 0, 0.5);
}

.navigateOptions > a {
    display: flex;
    align-items: center;
    padding: .5em .5em;
}

.navigateOptions > a:hover {
    background-color: #c8cfd4;
}


.buttonContainer {
    display: flex;
    align-items: center;
    padding: .5em .4em;
}

.buttonContainer > a {
    text-decoration: none;
    margin-left: .5em;
}

.optionIcon {
    font-size: 2em;
    margin-right: .3em;
}

.navigateOptions > a:hover > .optionIcon {
    color: #cf1020;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: 250ms;
}

.left:hover .overlay {
    visibility: visible;
    opacity: 1;
}