@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    width: 100%;
    height: 7em;
    background-color: #00000038;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 550ms;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-left: 2em;
    z-index: 10;
}

.navHidden {
    transform: translateY(-10em);
}

.navOptions:first-child {
    display: flex;
    list-style-type: decimal-leading-zero;
    gap: 3em;
    font-size: clamp(.9em, 1.5vw, 1.5em); 
    font-weight: bolder;
}

.option_1 {
    color: #6e83cf;
    transition: 250ms;
    cursor: var(--onScreenPress);
}

.option_1:hover {
    font-size: clamp(.9em, 1.5vw, 1.5em); 
    color: var(--white);
}

.option_2 {
    color: #6e83cf;
    transition: 250ms;
    cursor: var(--onScreenPress);
}

.option_2:hover {
    font-size: clamp(.9em, 1.5vw, 1.5em); 
    color: var(--white);
}


.option_3 {
    color: #8990dd;
    transition: 250ms;
    cursor: var(--onScreenPress);
}

.option_3:hover {
    font-size: clamp(.9em, 1.5vw, 1.5em); 
    color: var(--white);
}

.option_4 {
    color: #ac9ddb;
    transition: 250ms;
    cursor: var(--onScreenPress);
}

.option_4:hover {
    font-size: clamp(.9em, 1.5vw, 1.5em); 
    color: var(--white);
}

.icon {
    font-size: clamp(3em, 7vw, 6em); 
    color: #83bde4;
    cursor: var(--onScreenPress);
    transition: 1s;
}

.left:hover .icon {
    font-size: 6.2em;
    color: #cf1020;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(180deg) rotateY(180deg) rotateZ(180deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

.left {
    margin:0;
}

.right {
    margin-right: 1em;
    display: flex;
    align-items: center;
    gap: 2em;
}

.buttonContainer {
    font-size: clamp(.9em, 1.5vw, 1.5em);
    font-weight: bolder;
    padding: .6em .7em;
    border: 1px solid #94362f;
    border-radius: 10px;
    cursor: var(--onScreenPress);

}

.buttonContainer:hover {
    background-color: #94362f4a;
    transition: 250ms;
}

.buttonContainer > a {
    color: #94362f;
    text-decoration: none;
    font-weight: bolder;
}

.lightMode {
    color: var(--white);
    font-family: 'Inconsolata', monospace;
    font-size: clamp(.9em, 1.5vw, 1.5em);
}


