
.body {
  min-width: 100%;
  min-height: 100%;
  font-family: Josefin Sans, Helvetica, Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  padding-top: 7em;
  display: flex;
  justify-content: center;
}